<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Kitap Türü</th>
      <th scope="col"><button class="btn btn-success" href="books/add" click="routerLink" routerLink="/kinds/add">Kitap Türü Ekle</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kind of kinds">
      <th scope="row">{{kind.kindId}}</th>
      <td>{{kind.kindName}}</td>
      <td>
        <button class="btn btn-warning" href="kinds/update" click="routerLink" routerLink = "/kinds/update">Güncelle</button>
        <button class="btn btn-danger mx-2" href="kinds/delete" click="routerLink" routerLink="/kinds/delete">Sil</button>
      </td>
    </tr>
  </tbody>
</table>
