<div *ngIf="dataLoaded==false" class="spinner-grow text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Kitap Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Aradığınız kitabı girin">
</div>

<div *ngif="filterText" class="alert alert-success">
{{filterText}} aradınız
</div>

<table *ngIf="dataLoaded==true" class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Kategori</th>
      <th scope="col">Kitap Türü</th>
      <th scope="col">Kitap Adı</th>
      <th scope="col">Yazar Adı</th>
      <th scope="col">Yayın Evi</th>
      <th scope="col">Yayın Tarihi</th>
      <th scope="col">Kitap Adedi</th>
      <th scope="col">Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books | filterPipe:filterText">
      <td>{{book.bookId}}</td>
      <td>{{book.categoryId}}</td>
      <td>{{book.kindName | uppercase}}</td>
      <td>{{book.bookName | uppercase}}</td>
      <td>{{book.author | uppercase}}</td>
      <td>{{book.publisher | uppercase}}</td>
      <td>{{book.yearOfPrinting}}</td>
      <td>{{book.piece}}</td>
      <td>{{book.description | uppercase}}</td>
      <td><button (click)="addLendPerson(book)"
        type="button" class="btn btn-info" >Seç</button></td>
    </tr>
  </tbody>
</table>
