<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="book" class="modal-title" id="exampleModalLabel">
          {{book.kindName}} {{book.bookName}} | İade Et
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label for="example-date-input" class="col-4 col-form-label">Başlangıç Tarihi</label>
      <div class="col-8">
        <input  min="{{ getRentMinDate() }}" [(ngModel)]="lendDate" type="date"
          class="form-control" id="lend-date" placeholder="Bir gün seçiniz." />
      </div>
    </div>
    <div class="form-group row">
      <label for="example-date-input" class="col-4 col-form-label">Bitiş</label>
      <div class="col-8">
        <input disabled="{{ !firstDateSelected }}" min="{{ getReturnMinDate() }}" max="{{ getReturnMaxDate() }}"
          [(ngModel)]="returnBookDate" type="date" class="form-control" id="return-date" placeholder="Bir gün seçiniz." />
      </div>
    </div>
    <div *ngIf="returnBookDate" class="form-group row mb-2 mt-2">
      <label for="example-date-input" class="col-4 col-form-label">Toplam gün sayısı</label>
      <div class="col-8">
        <input *ngIf="book" type="text" disabled="disabled" class="form-control"
          value="{{returnBook.lendPeriod}}" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Kapat
      </button>
    </div>
  </div>
</div>
