<ul class="list-group">
  <li class="list-group-item bg-dark cursor-pointer btn-toggle collapsed" data-bs-toggle="collapse"
    data-bs-target="#kinds-collapse" aria-expanded="true">
    <span style="color: white;">Kitap Türleri</span>
    <span style="color: black;" class="badge bg-light total">{{kinds.length}}</span></li>
  <div class="collapse show" id="kinds-collapse">
    <li *ngFor="let kind of kinds" class="list-group-item cursor-pointer outline-none shadow-none">
      <a style="color: black; text-decoration: none;" href="/books/kind/{{kind.kindId}}">{{kind.kindId}}</a></li>
  </div>
</ul>
