<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Kitap ID No</th>
      <th scope="col">Katagori</th>
      <th scope="col">Kitap adı</th>
      <th scope="col">Tür</th>
      <th scope="col">Yazar adı</th>
      <th scope="col">Yayın evi</th>
      <th scope="col">Basım tarihi</th>
      <th scope="col">Adet</th>
      <th scope="col">Açıklama</th>
      <th scope="col"><button class="btn btn-success" click="routerLink" routerLink="add">Kitap Ekle</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row">{{book.bookId}}</th>
      <td>{{book.categoryId}}</td>
      <td>{{book.bookName}}</td>
      <td>{{book.kindName}}</td>
      <td>{{book.author}}</td>
      <td>{{book.publisher}}</td>
      <td>{{book.yearOfPrinting}}</td>
      <td>{{book.piece}}</td>
      <td>{{book.description}}</td>
      <td>
        <button class="btn btn-warning" click="routerLink" routerLink="update/{{book.bookId}}">Güncelle</button>
        <button class="btn btn-danger" click="routerLink" routerLink="delete/{{book.bookId}}">Sil</button>
      </td>
    </tr>
  </tbody>
</table>
